<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>다음 지도 API</title>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <!-- 폰트 어썸 추가 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- services와 clusterer, drawing 라이브러리 불러오기 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{app_key}}&libraries=services,clusterer,drawing"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

<!-- 스타일 태그 추가 -->
    body {
        background-color: black;
    }
    header {
        height: 80px;
    }
    header > h1{
        color: #c4c4c4;  
        margin-top: 20px;
        text-align: center;
    }

    #mform {
        text-align: center;
        color: white;
    }

    #mform > input {
        display: inline-block;
        margin: 10px;
     }

    </style>
</head>
<body>
<script type='text/javascript'>
    //<![CDATA[
    // 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init("{{app_key}}");
    //]]>
</script>
<!-- 헤더 추가 -->
<header>
        <h1><i class="fas fa-school"></i> <small>지역별</small> 초등학교 폐교 예측 </h1>
</header> 

<div class="container">

<form id="mform">
    <input class="va_m radio" name="option" type="radio" name="chk_info" value="기본 모드" checked="checked"><label style="font-size: 20px;"><strong>기본 모드</strong></label>
    <input class="va_m radio" name="option" type="radio" name="chk_info" value="폐교한 학교"><label style="font-size: 20px;"><strong>폐교한 학교</strong></label> 
    <input class="va_m radio" name="option" type="radio" name="chk_info" value="개교한 학교"><label style="font-size: 20px;"><strong>개교한 학교</strong></label>
    <input class="va_m radio" name="option" type="radio" ncame="chk_info" value="비율 구하기"><label style="font-size: 20px;"><strong>비율 구하기</strong></label> 
    <input class="va_m radio" name="option" type="radio" ncame="chk_info" value="비율 지우기"><label style="font-size: 20px;"><strong>비율 지우기</strong></label>
</form>

    <div class="map" row>
        <div class=".col-12 .col-sm-12 .col-md-12 .col-lg-12 .col-xl-12">
            <div id="map" style="width:max-width;height:550px;"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{app_key}}"></script>
<script>


    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.56650, 126.98018), // 지도의 중심좌표
            level: 3, // 지도의 확대 레벨
            mapTypeId: kakao.maps.MapTypeId.ROADMAP // 지도종류
        };

    // 지도를 생성한다
    var map = new kakao.maps.Map(mapContainer, mapOption);

     // 마커 클러스터러를 생성합니다
    var clusterer = new kakao.maps.MarkerClusterer({
        map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
        averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
        minLevel: 10 // 클러스터 할 최소 지도 레벨
    });
    var infowindow = null;
    var openSchool = [];
    var closeSchool = [];

    var polygonList = [];
    var polygonLength = 0;

    var polygonPosList = [];
</script>

<script type="text/javascript">
    window.onload = function () {
        //1. radio 버튼 개별적으로 이벤트 체크
        var mform = document.getElementById('mform');
        for (var i = 0; i < mform.option.length; i++) {
            mform.option[i].onclick = function () {
                if(this.value == "기본 모드")
                {
                    clusterer.clear();
                    clusterer.redraw();
                }
                else if(this.value == "폐교한 학교")
                {
                    clusterer.clear();
                    clusterer.addMarkers(closeSchool);
                }
                else if(this.value == "개교한 학교")
                {
                    clusterer.clear();
                    clusterer.addMarkers(openSchool);
                }
                else if(this.value == "폐교 비율 구하기")
                {
                    var idx = 0;
                    {% for geo in json_data%}
                        {% if geo['type'] =='Polygon' %}
                            {% for i in geo['coordinates'] %}
                                var path = [];
                                {% for j in i%}
                                    path.push(new kakao.maps.LatLng({{j[1]}}, {{j[0]}}));
                                {% endfor %}
                                 var polygon = new kakao.maps.Polygon({
                                    map : map, // 다각형을 표시할 지도 객체
                                    path : path,
                                    fillColor: '{{colormaps[geo['color']]}}', // 채움 색
                                    fillOpacity: 0.5, // 채움 불투명도
                                    strokeWeight: 3, // 선의 두께
                                    strokeColor: '#FF0000', // 선 색
                                    strokeOpacity: 0.9, // 선 투명도
                                    strokeStyle: 'solid' // 선 스타일
                                });

                                kakao.maps.event.addListener(polygon, 'click', function(mouseEvent) {
                                        var latlng = mouseEvent.latLng;
                                        console.log('{{geo['name']}}');
                                });
                                polygon.setMap(map); // 지도에 올린다.
                                polygonList.push(polygon);
                            {% endfor %}
                        {% elif geo['type'] =='MultiPolygon' %}
                            {% for i in geo['coordinates'] %}
                                {% for j in i%}
                                    var path = [];
                                    {% for k in j%}
                                        path.push(new kakao.maps.LatLng({{k[1]}}, {{k[0]}}));
                                    {% endfor %}
                                     var polygon = new kakao.maps.Polygon({
                                        map : map, // 다각형을 표시할 지도 객체
                                        path : path,
                                        fillColor: '{{colormaps[geo['color']]}}', // 채움 색
                                        fillOpacity: 0.5, // 채움 불투명도
                                        strokeWeight: 3, // 선의 두께
                                        strokeColor: '#FF0000', // 선 색
                                        strokeOpacity: 0.9, // 선 투명도
                                        strokeStyle: 'solid' // 선 스타일
                                    });

                                    kakao.maps.event.addListener(polygon, 'click', function(mouseEvent) {
                                        var latlng = mouseEvent.latLng;
                                        console.log('{{geo['name']}}');
                                    });
                                    polygon.setMap(map); // 지도에 올린다.
                                    polygonList.push(polygon);
                                    polygonLength++;
                                {% endfor %}
                            {% endfor %}
                        {%endif%}
                        idx = idx+1;
                    {%endfor%}
                }
                else if(this.value == "폐교 비율 지우기"){
                    console.log(polygonPosList);
                    for(var i=0; i<polygonList.length; i++ )
                    {
                        polygonList[i].setMap(null);
                    }
                }
            };
        }
    };

</script>



<script>
     //폐교 데이터와 개교 데이터 나누기
    //폐교한 학교 마커 넣기
    {% for loc in unique_location %}

        {% if loc[3] == 0 %}
            var marker= new kakao.maps.Marker({
                map: map,
                opacity :0.5,
                position: new kakao.maps.LatLng({{loc[4]}}, {{ loc[5]}})
            });

            // 마커에 클릭 이벤트를 등록한다 (우클릭 : rightclick)
            kakao.maps.event.addListener(marker, 'click', function() {
                if(infowindow != null){
                    infowindow.close();
                }
                infowindow = new kakao.maps.InfoWindow({
                    map: map,
                    position: new kakao.maps.LatLng({{loc[4]}}, {{ loc[5]}}),
                    content: '{{loc[2]}}'
                });
            });
            closeSchool.push(marker)
        {% elif loc[3] == 1%}
        var marker= new kakao.maps.Marker({
                map: map,
                position: new kakao.maps.LatLng({{loc[4]}}, {{ loc[5]}})
            });

            // 마커에 클릭 이벤트를 등록한다 (우클릭 : rightclick)
            kakao.maps.event.addListener(marker, 'click', function() {
                if(infowindow != null){
                    infowindow.close();
                }
                infowindow = new kakao.maps.InfoWindow({
                    map: map,
                    position: new kakao.maps.LatLng({{loc[4]}}, {{ loc[5]}}),
                    content: '{{loc[2]}}'
                });
            });
            openSchool.push(marker)
        {% endif %}
    {%endfor%}
     clusterer.clear();
     clusterer.redraw();
    //mouse click
    kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
        var latlng = mouseEvent.latLng;
        if(infowindow!= null)
            infowindow.close();

        check_close = test1(latlng);
        if(check_close){
            infowindow = new kakao.maps.InfoWindow({
                map: map,
                position: new kakao.maps.LatLng(latlng.getLat(), latlng.getLng()),
                content: "개교"
            });
        }
        else{
            infowindow = new kakao.maps.InfoWindow({
                map: map,
                position: new kakao.maps.LatLng(latlng.getLat(), latlng.getLng()),
                content: "폐교"
            });
        }
    });

     function test1(latlng) {
         result_value = false;
          $.ajax({
            type : 'POST',
            url : '/predict',
            data : {
                lat: latlng.getLat(),
                lng: latlng.getLng()
            },
              async: false,
            dataType : 'json',
            success : function(result){
                    result_value = result.qq;

            },
            error : function(xtr,status,error){
                    alert("확인할 수 없습니다.");
            }});
        return result_value;
     }
        var customOverlay = new kakao.maps.CustomOverlay({
        map: map,
        content: '<img src="./static/images/rate_image.png" width="100px" height="=150px">',
        position: new kakao.maps.LatLng(37.56682, 126.97865), // 커스텀 오버레이를 표시할 좌표
        xAnchor: -1.0, // 컨텐츠의 x 위치
        yAnchor: 7.0 // 컨텐츠의 y 위치
    });
     SimpleTextMarker.prototype.draw = function() {
            var projection = this.getProjection();
            var point = projection.pointFromCoords(this.position);
            var width = this.node.offsetWidth;
            var height = this.node.offsetHeight;

            this.node.style.left = (point.x - width/2) + "px";
            this.node.style.top = (point.y - height/2) + "px";

        };
     customOverlay.setMap(map);

     kakao.maps.event.addListener(map, 'dragend', function() {
        // 지도 중심좌표를 얻어옵니다
        var latlng = map.getCenter();

        var message = '변경된 지도 중심좌표는 ' + latlng.getLat() + ' 이고, ';
        message += '경도는 ' + latlng.getLng() + ' 입니다';

    });
</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>

</body>
</html>